<div class="row ml-2">
    <div class="col-9">
      <h1>Contacts</h1>
    </div>
    <div class="col-3">
      <button routerLink='/newcontact' class="btn btn-primary">Add New Contact</button>
    </div>
  </div>
<div class="m-1">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let contact of contacts">
      <div class="container">
          Name : {{contact.firstName+" "+contact.middleName+" "+contact.sirName}}
          <br>
          Number : {{contact.contact}}
          <br>
          Category : {{contact.category}}
        <button routerLink="/contact/{{contact._id}}" class="btn btn-primary float-right">Edit</button>
      </div>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>